.post-delete-tool-now-a-thing:before {
    content: "\A Since I have no links or pics for this post and I want to have more content that exists this way, I have made this post content all in the CSS.\A\AI went as far as making a tool to both create and delete posts.  All Bash scripts and all in the root directory of the project.  I am making use of `sed` and am doing so on a MacBook air, so linux users watch out. \A \AThe timestamp thing kinda bothered me as well. So, I added a datestamp to the html at time of creation and when I insert the post into the post list I added a date there too. Obviously the first posts are not going to have this and I don't feel like fixing it at the moment.  \A\ANext thing I think is needed is a faster way to create the CSS text from a raw text file, stripping out newlines for \"\\A\" characters and using the \"\\\" all over the place. But actually, I kinda like writing as one giant string with special characters to see where breaks are. It is kinda nice to not get caught up in style AT ALL while writing. Now that I have a spellcheck tool actually working in Visual Studio Code I think my typos should go down too.  \A\ANo links I need to share in this one, just click the Github icon above to get to the code of you want.";
    white-space: pre-wrap;

}

.post-delete-tool-now-a-thing {
    width: 100%;
    padding:10px;
    padding-bottom:5%;
    position: relative;
}
