.content1:before {
    content: "If you look at the source code for this, you will see that I have a set of classes laid out as such: \A wrapper \A header \A menu \A content \A footer \A\A Nothing too unusual about that. But where is the content you are reading?  For this post it is stuffed in a \"post1.css\" file that is only called for this post. Guess what I slapped on the content class to denote it went with this css? Yep, this containter for this page used \"content1\" as a class. \A\A But this is all just a bunch of text, and I as I said in the front page I can't handle links, or honestly images that well from the CSS directly.  So how could I marry this way of presenting the page with some more complex HTML?  \A Enter my old friend Markdown, along with a desktop editor and a HTML parcer all in one called MacDown (there are a lot of options to do tis actually. \A To see what that can render look at the next post linked below \A\A";
    white-space: pre-wrap;

}

.content1 {
    width: 100%;
    padding:10px;
    padding-bottom:5%;
    position: relative;
}